select {
  position: relative;
  width: 105%;
  height: 60px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #444;
  font-size: x-large;
}

select:hover {
  
  background-color:   #8FC0F1;
  border-right: 10px #0e4275 solid;
  color:#1C7FE2;
}
option{
position: fixed;
width: 200px;
}

select:focus {
  outline: none;
}