.containerButton{
  background-color: var(--backgroundColorButton);
  width: var(--widthButton);
  max-width: fit-content;
  height: var(--heighButton);
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  
  

}

.containerButton>p{
  font-size: 14px;
  color: var(--colorTextButton);
  margin: 0;
}

.containerButton:hover{
  background-color: #a4adb48f;
}