
.container > *{

  border-radius: 4px;
  text-align: center;
  height: 100%;


  
  }
  header{
    grid-area: header;
    border-bottom: 1px solid black;
    background-color: white;
        border-left: 1px solid black;

  }
  
  aside{
    grid-area: sidebar;

  }
  
  section{
    grid-area: section;
    background-color: white;
    border: 1px black solid;
  }
  
  
  .container{
    display: grid;
    gap: 15px;
    min-height: 100%; 
    min-width: 100%;
    grid-template: 
    " sidebar header" 70px
    " sidebar section"auto/250px
  }
  
  