.containerButton__Update{
  background-color: var(--backgroundColorButton__Update);
  width: var(--widthButton);
  max-width: fit-content;
  height: var(--heighButton);
  color: var(--colorTextButton);
  border-radius: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px; 
  cursor: pointer;
}

.containerButton__Update>p{
  font-size: 14px;
  color: var(--colorTextButton);
  margin: 0;
}

.containerButton__Update:hover{
  background-color: #7605a3;
}