
.pacienteFormActualizar{
  display: flex;
  flex-direction: column;
  gap:5px;
  width: 50%;
}

.pacienteContainerActualizar{
  display: flex;
  justify-content: center;
  width: 100%;
}
.custom-select {
  height: 40px; /* Puedes ajustar la altura según tus preferencias */
}