header{
display: flex;
align-items: end;
justify-content: space-between;
} 

.cargo_rol{ 
display: flex;
height: 80%;
align-items: center;
padding-right: 50px;
}


.titulo_fecha{
display: flex;
height: 80%;
align-items: center;
padding-left: 50px;
}