.containerButton__delete{
  background-color: var(--backgroundColorButton);
  width: var(--widthButton);
  max-width: fit-content;
  height: var(--heighButton);
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  

}

.containerButton__delete>p{
  font-size: 14px;
  color: var(--colorTextButton);
  margin: 0;
}

.containerButton__delete:hover{
  background-color: #ac1e05;
}