
aside {
  min-height: 100vb;
  font-size: x-large;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;

}
.container__sidebar{

  height: 100%;
  
}
.datos__user{
  background-color: white;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  border-radius: 5px;
}
.barra__navegacionRutas>div{
 width: 95%;
}
.datos__user>div>img{
height: 130px;
width: 130px;
border-radius: 100%;
border: 2px black solid;
}
.datos__user>div>h2{
margin: 0;
}
.barra__navegacion{
  margin-top: 15px;
 height: 73%;
 border: 1px black solid;
 background-color: white;
 border-radius: 5px;
}

.barra__navegacionRutas{
  display: flex;
  height: 95%;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
  
}


.barra__navegacionRutas div>li{
  width: 100%;
  height: 60px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  padding-left: 10px;
  

}
a{
  display: flex;
  text-decoration: none;
  width: 100%;
  justify-content: flex-start;
  color: black;

  padding-top: 5px;
  
}


li:hover{

  background-color:   #8FC0F1;
  border-right: 10px #0e4275 solid;
  color:#1C7FE2;
  margin-right: 5px;
  
}

.barra__navegacionRutasAb{
  display: flex;
  align-self: center;
  margin-left: 10px;
}


