.pacienteForm{
  display: flex;
  flex-direction: column;
  gap:5px;
  width: 50%;
}

.pacienteContainer{
  display: flex;
  justify-content:start;
  width: 100%;
  height: auto;
}
.custom-select {
  height: 40px; /* Puedes ajustar la altura según tus preferencias */
}