.nuevaConsulta{
 display: flex;
 height: 100%;
 justify-content: center;
 align-items: center;
 width: 100%;
}

.consultaContainer{
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 15px;
}

.consultaContainer>:first-child{
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3,1fr);

}

#inputGroup-sizing-lg{
  background-color: #A4ADB4;
}
.consultaContainer__datos>:last-child{
 display: flex;
 justify-content: center;

}
